/* .grid-item img:hover {
border-radius: 100%
} /*

/* add this css to your stylesheet */

/*initial styling for the image */ 

.grid-item {
  overflow: hidden;
  position: relative;
}



/* add transition for smooth zooming */ 
.grid-item img {
  transition: transform 0.3s ease;
}

/* apply the zoom effect on hover */
.grid-item:hover img {
   transform: scale(1.2);
  
} 