/* .grid-item img:hover {
border-radius:100%
} */

/* Add this CSS to your stylesheet */

/* Initial styling for the image */
.grid-item {
  overflow: hidden;
  position: relative;
}

/* Add a transition for smooth zooming */
.grid-item img {
transition: transform 0.3s ease;
}


/* Apply the zoom effect on hover */
.grid-item: hover {
transform: scale(2);
order: 0;
}