@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Shadows+Into+Light&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=McLaren&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Shadows+Into+Light&family=Sigmar&display=swap');
@import url @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=McLaren&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&family=Shadows+Into+Light&family=Sigmar&display=swap');
@import url ('https://fonts.googleapis.com/css2?family=Lilita+One&family=McLaren&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&family=Rokkitt:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&family=Sigmar&display=swap');
body {
        font-family: "Rokkitt", sans-serif;
        margin: 0; /* remove all body margin */
        font-size: 120%;
        text-align: justify;
}

/* start styling the header and its content */
header {
        display: flex;
        align-items: center;
        background: #ffffff;
 }
header h1 {
        font-family: "Sigmar", cursive;
        font-size: 200%;
        font-weight: lighter;
        color: black;
        
}
/* icon is the image in the header */
.icon {
        width: 200px;
        
}
/* end styling the header and its content */

nav {
        background-color: #1e419c;
        border-top: solid black 1px;
        border-bottom: solid black 1px;
        display: flex; /* displays the children of this element as flexible boxes */
        align-items: center; /* align child flexible boxes in the vertical center */
}
nav p {
        text-align: center;
        flex-basis: 100px; /* gives each paragraph the same width */
        flex-grow: 1; /* allow each paragraph to grow evenly to fill up the parent nav element */
}
nav a {
        color: white;
        text-decoration: none;
        font-weight: bold; 
}
nav a:hover {
    color: #d60a0a;
}
footer {
        background-color: #d60a0a; /* background or background-color both work */
        position: fixed; /* fix to viewport */
        bottom: 0; /* start 0 pixels from the bottom of the viewport */
        left: 0; /* start 0 pixels from the left of the viewport */
        width: 100%; /* set the width to 100% of the viewort */
        height: 3em; /* set the footer elements height to 3 times larger than its current font size */
        border-top: solid black 1px; /* have to put unit, e.g. px or % if not zero */
}
h2 {
        font-family: "Lilita One", serif;
        color:#fad215;
h1 {
       font-family: "Lilita One", serif;
        color:#0f0f0f; 
}
}
.main {
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 4em; /* larger margin to allow for the footer */
}
.center {
        text-align: center;
}
.wrap {
    float: right;
}
.caption {
    font-style: italic;
    font-size: small;
}

/*CSS added for styling navigation menu buttons*/
.navigation {
        padding: 10px;
        gap: 20px; 
        display: flex; /* Display the children of thid element as flexible boxes*/
}

nav button {
  flex-basis: 100px; /* give each paragraph the same basic width */
  flex-grow: 1; /* allow each paragraph to grow evenly to fill up the    parent nav element */
  text-align: center;
  height: 40px;
  border-radius: 10px;
}

button {
        background-color: #1e419c;
        font-weight: bold;
}

button:hover {
        background-color: #2f69ee;
        box-shadow: 0 0 5px #d60a0a,
                   0 0 25px #fad215;
        transform: scale(1.05);
        transition: all 0.3s ease;
        cursor: pointer;
}


/*start of styling my grid display on page 2*/
    /* define the grid container */
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; /* three columns with equal width */
      gap: 20px; /* gap between grid items */
    }

    /* style for each grid item */
    .grid-item {
      border: 1px solid #ccc;
      padding: 20px;
      text-align: center;
      font-weight: bolder;
    }

.grid-item p {
  text-align: justify;
  font-weight: lighter;
}

    .grid-item img {
      width: 300px; 
      height: 400px;
            /* ensure the image takes up 70% of its container height */
    }

    /* media query for screens smaller than 800 pixels */ 
    @media (max-width: 800px) {
      .grid-container {
        grid-template-columns: 1fr 1fr; /* change to two columns */
      }
            .grid-item img {
                  width: 200px; 
                  height: 300px;
    }

/*End of styling my grid display on page 2*/


/* media query for screens smaller than 600 pixels*/
@media (max-width: 600px) {
  header {
    background-color: yellow;
  }
  header h1 {
    font-size: 120%; /*change font size */
  }
  .icon {
    width: 100px; /*change width*/
  }
 .grid-container {
 grid-template-columns: 1fr; /* change to a single column */
 }
}

