.image1{
  float: left;
  width: 33.3%
  height: 100px; 
  background-position: center;
  background-size: cover;
  background-image: url(images/sinigang.png);
}
.image2{
  float: left;
  width: 33.3%
  height: 100px; 
  background-position: center;
  background-size: cover;
  background-image: url(images/bulalo.png);
}
.image3{
  float: left;
  width: 33.3%
  height: 100px; 
  background-position: center;
  background-size: cover;
  background-image: url(images/sisig.png);
}
.image4{
  float: left;
  width: 33.3%
  height: 100px; 
  background-position: center;
  background-size: cover;
  background-image: url(images/adobo.png);
}
.image5{
  float: left;
  width: 33.3%
  height: 100px; 
  background-position: center;
  background-size: cover;
  background-image: url(images/lechon.png);
}
.image6{
  float: left;
  width: 33.3%
  height: 100px; 
  background-position: center;
  background-size: cover;
  background-image: url(images/kare-kare.png);
}

.image-overlay{
  width: 100%;
  height: 100px;
  background-color: rgb(208, 189, 139, 0.58)
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  letter-spacing: 5px;
  font-size: 1opx;
}
.image-overlay h1 {
  color: red;
}

.image-overlay:hover {
  background-color: transparent;
}